/**
 * Options panel
 */
.spiderblocker-root {
  margin-right: 20px;
}
.sb-table-top {
  display: flex;
  align-items: center;
}
.search-box {
  margin-left: auto;
}
.form-table th {
  padding: 10px 10px 10px 0;
}
.form-table td {
  padding: 10px;
}
.notice.fixed {
  position: fixed;
  right: 1em;
  top: 3.5em;
}
tr.active {
  background-color: rgba(54, 204, 255, 0.05);
}
.active th.bot-re {
  border-left: 4px solid #2ea2cc;
}
